[project]
	description = \"cps-temporal\"\n\nRead-only as per IT-26119
	state = read only
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/onap-gerrit-cps-cps-temporal-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
